{% extends "base.html" %}

{% block content %}

<div>
    Tags:
    {% for tag in recipe.tags %}
        {% include "_list_tags.html" %}
    {% endfor %}
</div>
<hr>

<h1>{{ recipe.name.title() }}</h1>
<h2>Prep Time: {{ recipe.prep_time|int }} min. |  Cook Time: {{ recipe.cook_time|int }} min. </h2>
<h2>Servings: {{ recipe.servings }}</h2>

<h2>Ingredients:</h2>
{% for ingredient in recipe.ingredients %}
    <li>{{ ingredient.name }} -- {{ ingredient.quantity }} {{ ingredient.unit }}</li>
{% endfor %}

<h2>Directions:</h2>
{% for item in recipe.directions %}
    <ol>{{ loop.index }}.  {{ item }}</ol>
{% endfor %}

{% endblock %}
