{% extends "shared/_base.html" %}

<!-- ***************************************************** -->
{% block main_content %}
    <div class="form-container">

        {% if recipe %}
            <h1>Edit Recipe</h1>
        {% else %}
            <h1>Create a Recipe</h1>
        {% endif %}

        <form action="" method="POST" class="recipe-form" enctype="multipart/form-data">

            <div class="recipe-section">
                {% include "recipe/shared/recipe_general.html" %}
            </div>

            <div class="recipe-section">
                {% include "recipe/shared/recipe_ingredients.html" %}
            </div>

            <div class="recipe-section">
                {% include "recipe/shared/recipe_directions.html" %}
            </div>

            <div class="recipe-section">
                {% include "recipe/shared/recipe_tags.html" %}
            </div>

            <div class="recipe-section">
                {% include "recipe/shared/recipe_notes.html" %}
            </div>

            <div class="recipe-section">
                {% include "recipe/shared/recipe_images.html" %}
            </div>

            <button type="submit" class="btn btn-success">Save</button>
            <div style="clear: both"></div>
            {% if error %}
                <div class="error-msg">{{ error }}</div>
            {% endif %}

        </form>
    </div>
{% endblock %}

<!-- ***************************************************** -->
{% block additional_css %}
    <link rel="stylesheet" href="/static/css/recipe.css">
{% endblock %}

{% block additional_js %}
{% endblock %}
