{% extends "shared/_base.html" %}

<!-- ***************************************************** -->
{% block main_content %}
</div class="form-container">
    <h1>Create a Recipe</h1>
    <form action="" method="POST" class="account-form">

        <h2>General Information</h2>
        {% include "recipe/shared/recipe_general.html" %}

        <h2>Ingredients</h2>
        {% include "recipe/shared/recipe_ingredients.html" %}

        <h2>Directions</h2>
        {% include "recipe/shared/recipe_directions.html" %}

        <h2>Tags</h2>
        {% include "recipe/shared/recipe_tags.html" %}

        <h2>Notes</h2>
        {% include "recipe/shared/recipe_notes.html" %}

        <button type="submit" class="btn btn-success">Save</button>
        <div style="clear: both"></div>
        {% if error %}
            <div class="error-msg">{{ error }}</div>
        {% endif %}

    </form>
</div>
{% endblock %}

<!-- ***************************************************** -->
{% block additional_css %}
<link rel="stylesheet" href="/static/css/recipe.css">
{% endblock %}

{% block additional_js %}
<script src="/static/js/pyrecipe/recipe_input.js"></script>
{% endblock %}
