<div class="recipe-add">
    <table class="recipe-ingredients">
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Preparation</th>

            </tr>
        </thead>
        <button class="add-ingredient btn btn-success">+</button>
        <tbody>
            <tr class="new-ingredient">
                <td><input name="i_name" type="text" placeholder="" class="form-control" value="{{ i_name }}" required /></td>
                <td><input name="i_quantity" type="number" step="0.1" placeholder="" class="form-control" value="{{ i_quantity }}" required /></td>
                <td><input name="i_unit" type="text" placeholder="" class="form-control" value="{{ i_unit }}" /></td>
                <td><input name="i_preparation" type="text" placeholder="" class="form-control" value="{{ i_preparation }}" /></td>

                {% if path != url_for("recipe.recipe_add_get") %}
                    <td><button class="btn btn-danger" type="button">X</button></td>
                {% endif %}
            </tr>


        </tbody>
    </table>
</div>
