<div class="recipe-add">
    <table class="recipe-general">
        <thead>
            <tr>
                <th>Recipe name</th>
                <th>Prep time</th>
                <th>Cook time</th>
                <th>Number of Servings</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input name="name" type="text" placeholder="" class="form-control" value="{{ name }}" required /></td>
                <td><input name="prep_time" type="number" step="0.1" placeholder="" class="form-control" value="{{ prep_time }}" /></td>
                <td><input name="cook_time" type="number" step="0.1" placeholder="" class="form-control" value="{{ cook_time }}" /></td>
                <td><input name="servings" type="number" step="0.1" placeholder="" class="form-control" value="{{ servings }}" /></td>
            </tr>
        </tbody>
    </table>
</div>
