<div class="recipe-add">
    <table class="recipe-general">
        <thead>
            <tr>
                <th>Recipe Name</th>
                <th>Prep Time</th>
                <th>Cook Time</th>
                <th>Servings</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input name="name" type="text" placeholder=" Recipe name" class="form-control" value="{{ name }}" required /></td>
                <td><input name="prep_time" type="number" placeholder=" 5 (minutes)" class="form-control" value="{{ prep_time }}" /></td>
                <td><input name="cook_time" type="number" placeholder=" 10 (minutes)" class="form-control" value="{{ cook_time }}" /></td>
                <td><input name="servings" type="number" placeholder=" Servings" class="form-control" value="{{ servings }}" /></td>
            </tr>
        </tbody>
    </table>
</div>
