<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PyRecipe{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/site.css"/>

    {% block additional_css %}{% endblock %}
</head>

<body>

<nav>
    <a href="{{ url_for('home.index') }}">Home</a>
    <a href="{{ url_for('home.about') }}">About</a>
    {% if user_id %}
    <a href="{{ url_for('account.index') }}">Account</a>
    <a href="{{ url_for('account.logout') }}">Logout</a>
    <a class="btn btn-primary" href="{{ url_for('recipe.recipe_add_get') }}" role="button">Add Recipe</a>
        {% if recipe %}
        <a class="btn btn-warning" href="{{ url_for('recipe.recipe_edit_get', recipe_id=recipe.id) }}" role="button">Edit Recipe</a>
        <a class="btn btn-danger" href="{{ url_for('recipe.recipe_delete_get', recipe_id=recipe.id) }}" role="button">Delete Recipe</a>
        <a class="btn btn-info" href="{{ url_for('recipe.recipe_export', recipe_id=recipe.id) }}" role="button">Export Recipe</a>
        {% endif%}

    {% else %}
    <a href="{{ url_for('account.login_get') }}">Login</a>
    <a href="{{ url_for('account.register_get') }}">Register</a>
    {% endif %}
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="main_content">
    {% block main_content %}{% endblock %}
</div>

<script src="/static/js/jquery/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.bundle.js"></script>

{% block additional_js %}{% endblock %}

</body>
</html>
